@font-face {
  font-family: 'HelveticaNeueLT Std';
  src: url('../font/HelveticaNeueLTStd-Md.otf') format('opentype');
}

body {
	font-family: "HelveticaNeueLT Std", "Arial", "Roboto";
  padding-top: 50px;
	background: url('../img/bg.png');
}

body,html {
	height: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.wi {
	font-size: 40px;
  color: #678;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.suche {
	margin-top: 20px;
}

dt, dd {
	margin-bottom: 10px;
}

dd {
	margin-left: 40px;
}

.navbar-inverse {
  /*
	background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
  background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
	*/
  background-image: linear-gradient(to bottom,#d00 0%,#a00 100%);
  background-repeat: repeat-x;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

div.trips  {
	margin-top: 30px;
}

.panel-group .panel {
	margin-bottom: 20px;
	border-radius: 0px;
}

.panel-heading {
	border-radius: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
  background-image: linear-gradient(to bottom,#fff 0%,#eee 100%);
	color: #444;
}

div.leg {
	margin-top: 0px;
	margin-bottom: 10px;
	background: #f8f8f8;
	padding: 10px 0px;
}

div.leg div.row div {
	text-align: center;
}

span.duration {
	font-size: 90%;
}

span.emph {
	color: #888;
}

@-webkit-keyframes drehen {
    from {transform: rotateZ(0deg)}
    to {transform: rotateZ(360deg)}
}

.rotate {
	-webkit-animation: drehen 2s linear infinite;
}

.panel-default>.panel-heading {
	background: #eee;
  border-top: 2px solid #e22;
}

.panel{  
	box-shadow: 0 2px 4px rgba(0,0,0,.06);
}

.glyphicon-alert {
	color: #c02;
	cursor: help;
}

.tripquality0 {
	color: #2b6;	
}

.tripquality1 {
	color: #ca4;	
}

.tripquality2 {
	color: #c02;
}

.wi-on-right {
	margin-right: 20px;
}

.wi-on-left {
	margin-left: 20px;
}

.autocomplete input {
display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control, .input-group-addon {
	border-radius: 0px;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,.05);
}

.fill {
	background: #f8f8f8;
	min-height: 100%;
	height: 100%;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,.3);
}

.glyphicon-time {
	color: #811;
}


.ontime {
	color: #444;
	font-size: 90%;
}

.delayed {
	color: #da2;
	font-size: 90%;
}

.verydelayed {
	color: #b11;
	font-size: 90%;
}

.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: #444;
}

.animate-trips.ng-hide {
opacity: 0;
}

.animate-trips {
	opacity: 1;
	transition: all 1s;
}

.loader.ng-hide {
	opacity: 0;
}


.loader {
	position: absolute;
	opacity: 1;
	transition: all 1s;
	z-index: 1000;
	font-size: 200%;
  margin-top: 60px;
  left: 50%;
  width: 100%;
}

.footer {
  position: fixed;
	bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
}